<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<Property name="filename">../logs/dimediary.log</Property>
	</Properties>
	<Appenders>

		<!-- Console Appender -->
		<Console
			name="Console"
			target="SYSTEM_OUT"
		>
			<PatternLayout
				pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<!-- Rolling File Appender -->
		<RollingFile name="RollingFile">
			<FileName>${filename}</FileName>
			<FilePattern>logs/archiv/%d{yyyy-MM-dd-HH-mm}.log.zip</FilePattern>
			<PatternLayout>
				<Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} -
					%msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="Console"/>
		</Root>
	</Loggers>
</Configuration>